<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>デザイナーズ物件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
 
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css" />
 
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />

    <script src="/js/jPages.min.js"></script>
    <link rel="stylesheet" href="/css/jPages.css">
    <script>
        $(function(){
            $("div.holder").jPages({
                containerID : "itemContainer",
                perPage      : 3,//1ページに表示する要素の数
                startPage    : 1,//初期表示ページ
                startRange   : 1,//ページネーションの表示設定
                midRange     : 5,//上に同じ
                endRange     : 1//上に同じ
            });
        });
    </script>

    <link rel="stylesheet" href="/css/mycss.css" />

  </head>
 
  <body>
 
    <div>
      {% block content %} {% endblock %}
    </div>

  </body>
</html>