{% extends "base.j2" %}

{% block content %}
    <script type="text/javascript" language="javascript">
    <!--
        function sample() {
            window.scrollTo(0,0);
        }
    // -->
    </script>
    <!-- Item container (doesn't need to be an UL) -->
    <ul  id="itemContainer" style="list-style:none;">
    {% for bukken in bukkens %}
            <li class="list-group">
                <span class="list-group-item">
                    {% set photolist = bukken.photoURL.split(',') %}
                    {% for photo in photolist %}
                        <img height="82" height="82" src={{photo}} />
                    {% endfor %}
                </span>
                <span class="list-group-item"><a href={{ bukken.link }} target=”_blank” >{{ bukken.name }}</a></span>
                <span class="list-group-item">コメント:{{bukken.info}}</span>
                <span class="list-group-item">家賃:{{bukken.yatin}}</span>
                <span class="list-group-item">最寄駅:{{bukken.eki}}</span>
                <span class="list-group-item">間取り:{{bukken.madori}}</span>
                <span class="list-group-item"><a href={{ bukken.websiteURL }}>引用元：{{ bukken.website }}</a></span>
            </li>
    {% endfor %}
        </ul>
    <!-- Future navigation panel -->
    <fotter>
      <div class="container">
        <div class="holder" onclick="sample()"></div>
      </div>
    </fotter>
{% endblock %}