{% extends "base.j2" %}

{% block content %}
    <p>
    <form action="/login" method="post">
    <p>情報元サイト</p>
    <select name="website">
        {% for item in ['ALL','linea','R-STORE','GoodRoom'] %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <p>価格帯</p>
    <select name="price">
        {% for item in ['ALL',0,20000,40000,60000,80000,100000,120000,140000,160000,180000,200000] %}
            <option value="{{ item }}">{{ item }} 〜 </option>
        {% endfor %}
    </select>
    <p>間取り</p>
    <select name="madori">
        {% for item in ['ALL','ワンルーム','1R','1K','2K','3K','4K','1DK','2DK','3DK','1LDK','2LDK','3LDK'] %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <p>場所</p>
    <select name="eki">
        {% for item in ['ALL','三軒茶屋','上町','上野毛','久我山','九品仏','亀戸','五反田','代々木八幡','代々木公園','代田橋','八幡山','八広','勝どき','北大宮','北綾瀬','千歳烏山','千歳船橋','原宿','吉祥寺','四谷三丁目','国分寺','国領','大井町','大師前','大門','小伝馬町','尾山台','巣鴨','幡ヶ谷','後楽園','成城学園前','新宿御苑前','新鎌ヶ谷','方南町','春日','曙橋','月島','東中野','東向島','東日本橋','桜木町','梶が谷','森下','武蔵小山','江戸川橋','池尻大橋','沼袋','洗足池','浅草橋','浦安','渋谷','溜池山王','片倉町','田端','白金台','白金高輪','目黒','石川台','笹塚','等々力','自由が丘','船橋','茗荷谷','葛西','蒲田','西大井','西新井','西新宿五丁目','西荻窪','赤羽','都立大学','鐘ヶ淵','雑司が谷','飛田給','馬喰横山','馬喰町','駒沢大学','駒込','高井戸','鷺ノ宮'] %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <input value="Login" type="submit" />
    </form>
    </p>

{% endblock %}
